<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @usre.name %>
</p>

<p>
  <b>Email:</b>
  <%= @usre.email %>
</p>


<%= link_to 'Edit', edit_usre_path(@usre) %> |
<%= link_to 'Back', usres_path %>
